.read-text {
    color: #000;
    font-weight: 500;
    font-size: 30px;
    text-decoration: none;
}

.click-btn:hover{
    cursor: pointer;
    background-color: #461000;
}
.click-btn{
    border-radius: 20px ;
    background-color: rgba(150, 75, 0, 0.972);
    color: white ;
    font-size: medium;
}

 

.header-link a{
 border-radius: 3px;
}

.underline{
    height: 4px;
    width: 6rem;
    border-radius:4px ;
    background-color: red;
}
.underline-sub{
    height: 3px;
    width: 90%;
    border-radius:4px ;
    background-color: '#f11';
}
