.title {
    color: red ;
    font-size: 20px;
}  

.Playlist {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

#VideoPlayer {
    /* display: flex; */
    padding: 5px ;
}

.vidContainer{
    border: none;
}

@media(max-width:599px) { 
    /*Small Screen
    display as column box*/ 
	.vidContainer{
        min-width: 90vw;
        max-width: 95vw;
        max-height:40vh ;
        min-height: 90vw;/* to make it square*/
	}
    #bigContainer{
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        align-items: center;
        min-width: 100vw;
    }
    #VideoPlayer {
        width: 100vw;
    }
}
 @media(min-width:599px){
    /*  Bigger Screen */
	.vidContainer{	
		min-width: 50vw;
        max-width: 70vw;
        min-height:40vw;
        max-height: 80vh;
	}
    #bigContainer{
        flex-wrap: nowrap;
        align-items: stretch;
        text-align: left;
        flex-direction: row;
    }
} 

