/* =================================NAVIGATOR================================= */
/* @media(max-width:699px) { 

	.nav-container{
		display: flex;
	}
} */

#root{
	width: 100vw;
	height: 100vh;
}
.nav-container{
	background-color: aliceblue;
	
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}
.nav-container img{
    width: auto;
    height: 10vh;
} 




.nav-list{
    width: 60vw;
	display: inline-flex;
	justify-content: space-between;

}

.nav-list a{
    text-decoration : none ;
}

.nav-list a:hover{
    color: blue;
}



/* =================================CONTENT================================= */

.content{	
	background-color: rgba(120,200,225,0.3);
}


/* =================================ABOUT================================= */

#section {
	/* max-width: 49% ; */
    height: 77vh;
	overflow-y: scroll;
    display:block;
	color: black ;
	text-align: left;
	font-family: Georgia ,fantasy ,Arial;
	font-size: 30px;
}

/* =================================FOOTER================================= */


#footer{
	max-height: 13vh ;
	position: fixed;
	background-color: rgba(120,200,225,0.7);
	width: 100% ;
	text-align: center; 
	/* top: -80% ; */
	/* right: 5px ; */
	/* left: 1% ; */
}

#slogan{ 
	font-family: fantasy,"Times New Roman","Arial Bold" ;
	font-size: small;
	color: Black ;
	text-shadow: 5px 10px 3px #93698f ;

	animation-name: sloganmove ;
	animation-duration: 30s ;
	animation-timing-function:ease-in-out ;
	animation-delay: 1s ;
	animation-iteration-count: infinite;
}

@keyframes sloganmove{
	0% {
		text-align: left;
	}
	50% {
		text-align: center;
	}
	100%{
		text-align: right;
	}
}