#bigContainer {
    font-family: 'Times Roman New Ariel Calibri ' ;
    font-style: bold;
    /* background-color: black; */
    display: flex;
    padding: 2px;
}

#bigContainer > * {
    padding: 2px 2px  ;
}